.paper-styles {
    padding: 2vw 3vw 2vw 3vw;
}

.author-name {
    margin-left: 8px;
}

.article-title {
    font-size: 6vw;
}

.avatar {
    margin-right: 5px !important;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.image {
    max-width: 80%;
    max-height: 500px;
    border-radius: 20px;
    margin-top: 5px;
    margin: 10px;
}

.heading {
    font-size: 6vw;
}

.paragraph {
    margin-top: 7px;
    margin-bottom: 7px;
}

.article-image-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.article-image {
    border-radius: 20px;
}

.link {
    color: #000000;
    text-decoration: none;
}

.button-container {
    justify-content: center;
    display: flex;
}